# Python environments
venv/
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Spark checkpoints/state
checkpoints/
data/checkpoints/

# Generated parquet files
*.parquet

# Spark metadata
_spark_metadata/

# MinIO generated storage
minio_data/

# Kafka/Zookeeper persistence
kafka_data/
zookeeper_data/

# Optional local outputs
output/
data/
